.cardContainer{
    margin: 0 auto;
    width: 500px;
    margin-top: 10%;
}

.card{
    padding: 2em;
    height: 20em;
    background-color: #c38d9d;
}

.btnContainer{
    display: relative;
    float: right;

}

.MuiFormLabel-root{
    color:#e0e0e0 !important;
}

.MuiInput-underline:before {
    border-bottom:solid 1px #e0e0e0 !important ;

}

.MuiInputBase-root{
    color: #e0e0e0 !important;
}


.MuiInput-underline:after {
    border-bottom:solid 2px #ad6a7e !important ;

}

.MuiList-root{
    color:#e0e0e0;
    background-color: #ad6a7e;
}

.MuiButton-outlined {
    color: #e0e0e0 !important;
    border: 1 px solid #ad6a7e !important;
}