.headers{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #e0e0e0;
    background-color:#40b3a2;
}

.headers > div {
    padding: 1em;
}

.heading{
    font-size: 2em;
}

.options{
    position: absolute;
    margin-top: 33px;
    right: 11em;
}

.Add{
    position: relative;
    margin-left: 3em;
}

.rightBtnHeader{
    margin-left: 2em !important;
    color: #40b3a2 !important;
}

.leftBtnHeader{
    color: #40b3a2 !important;
} 



